.about-text {

   &__container {}

   &__body {
      will-change: transform;
      min-height: var(--vh);
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__shell {
      max-width: 980px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   &__first {
      font-weight: 600;
      font-size: 24px;
      line-height: 112%;
      letter-spacing: -0.06em;

      @media (min-width:768px) {
         font-size: 40px;
      }

      @media (min-width:1024px) {
         font-size: 48px;
      }

      @media (max-height:600px) {
         font-size: 30px;
      }
   }

   &__second {
      max-width: 80vw;
      font-weight: 600;
      font-size: 20px;
      line-height: 125%;
      letter-spacing: -0.06em;

      @media (min-width:768px) {
         max-width: 807px;
         font-size: 32px;
      }

      @media (min-width:1024px) {
         font-size: 40px;
      }

      @media (max-height:600px) {
         font-size: 24px;
      }
   }

   &__third {
      font-weight: 600;
      font-size: 18px;
      line-height: 116%;
      letter-spacing: -0.06em;
      width: 70vw;

      @media (min-width:768px) {
         width: 100%;
         max-width: 440px;
         font-size: 30px;
      }

      @media (min-width:1024px) {
         padding-right: 120px;
         font-size: 38px;
      }

      @media (max-height:600px) {
         font-size: 18px;
      }
   }
}