.painting {
   position: relative;
   overflow: hidden;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-touch-callout: none;
   user-select: none;

   &__container {}

   &__body {}

   &__title {
      font-size: var(--font-size-title);
      font-weight: 900;
   }

   &__list {
      position: relative;
      padding: 24px 0;
      height: var(--vh);
      min-width: max-content;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 16px;
   }

   &__info {
      pointer-events: none;
      margin-bottom: 24px;
      padding-left: 24px;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 2;
      height: 0;
      width: 256px;
      overflow: hidden;
      transition: height 0.5s;

      a,
      button,
      .button {
         pointer-events: all;
      }
   }

   &__price {
      margin-bottom: 12px;
      font-weight: 800;
      font-size: 18px;
      line-height: 133%;
      letter-spacing: -0.03em;
      color: #000;
   }


   &__text {
      margin-bottom: 24px;
      font-size: 18px;
      line-height: 133%;
      letter-spacing: -0.05em;
      color: #000;
   }



   &__item {
      &:nth-last-child(-n+2).active {
         .painting__info {
            left: auto;
            right: 100%;
         }
      }

      cursor: pointer;
      position: relative;
      display: flex;
      align-items: flex-end;
      transition: opacity 0.3s;

      &:hover {
         opacity: 0.7;
      }

      &.active:hover {
         opacity: 1;
      }

      img {
         height: 144px;
         max-height: calc(var(--vh) * 0.75);
         transition: height 0.5s;

         @media (min-width:992px) {
            max-width: 50vw;
         }
      }

      &.active {
         cursor: auto;

         .painting__info {
            height: max-content;
         }

         .painting__description {
            height: auto;
            width: 100%;
         }

         img {
            height: 75vh;
         }
      }
   }

   &__description {
      margin-bottom: 16px;
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 0;
      width: 100%;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      overflow: hidden;
      transition: height 0.3s;

      @media (min-width:1024px) {
         gap: 40px;
      }
   }

   &__data {
      display: flex;
      gap: 10px;

      @media (min-width:1024px) {
         gap: 40px;
      }
   }

}

#flip {
   position: relative;
   z-index: 20;
   width: 100px;
   height: 30px;
   background-color: #816d6d;
   display: flex;
   align-items: center;
   justify-content: center;
}

.painting__flip-body {
   pointer-events: none;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: var(--vh);
   display: flex;
   align-items: center;
   opacity: 0;
   transition: opacity 0.3s;

   a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      text-transform: uppercase;
      transition: opacity 0.3s;

      @media (min-width:992px) {
         font-size: 18px;
      }

      &:hover {
         opacity: 0.7;
      }
   }

   &.active {
      opacity: 1;

      a {
         pointer-events: all;
      }
   }
}

.painting__flip-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 800;
   font-size: 18px;
   line-height: 133%;
   letter-spacing: -0.03em;
}