:root {
   --font-family: "Inter", sans-serif;
   --font-family-second: "Montserrat", sans-serif;
   --color-white: #ffffff;
   --color-black: #000000;

   --h-header: 72px;
   --h-gallery-description: 42px;

   --vh: 100vh;

   --font-size-big: calc((var(--vh) - var(--h-header) - var(--h-gallery-description)) * 0.24 / 2);
   --font-size-title: calc(var(--font-size-big) * 0.5);

   @supports(height: 100dvh) {
      --vh: 100dvh;
   }

   @media (min-width:500px) {
      --font-size-title: calc(var(--font-size-big) * 0.7);
   }

   @media (min-width:768px) {
      --font-size-big: calc((var(--vh) - var(--h-header) - var(--h-gallery-description)) * 0.24);
      // --font-size-title: calc(var(--font-size-big) * 0.7);
   }

   @media (min-width:1440px) {
      --font-size-big: 196px;
      --font-size-title: var(--font-size-big);
   }


}